<template>
<div>
  <div v-if="loading" class="loader-bar"></div>

  <h2>{{title}}</h2>



  <div class="inner-container">
  <div class="main-content">
    <div v-if="$store.state.currentCriteriaRelevance===null" class="empty-content">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <div class="empty-text">
        Vuelve al paso 2 a determinar los criterios de selección para poder indicar su relevancia.
      </div>
    </div>
    <div v-else>
  <spider-chart :cfg="defaultCfg" :chart-data="$store.state.currentCriteriaRelevance"></spider-chart>

  <div class ="flex-end">
    <button class="btn btn-default" v-on:click="updateCharts()">Actualizar</i> </button>
  <!--  <button class="btn btn-default" v-on:click="getWeightedAttributes()">TEST</i> </button>-->
  </div>

   <h2>Resumen de selección</h2>
   <hr />

   <div class="dashboard">
     <transition name="dashleft">
       <div v-if="showVolunteers" class="side-recruited">
         <recruited :volunteers="selectedVolunteers" :total="totalSelected"></recruited>
         <button class="btn btn-hide" @click="hideVolunteers()">
           <i class="fa fa-chevron-left" aria-hidden="true"></i>
         </button>
       </div>
     </transition>
   <div v-if="!chartsLoaded" class="empty-content">

     <i class="fa fa-bar-chart" aria-hidden="true"></i>
     <div class="empty-text">
       Presiona el botón actualizar para ver el resumen de la selección actual.
     </div>
   </div>
   <div v-else class="chart-column"><!-- v-bind:class="{ 'to-column': showVolunteers }"-->

   <div class="chart-row">

     <div class="chart-box total-box" @click="showVolunteers=true">
       <h3>De {{+seleccionData[1].value + seleccionData[0].value}} postulantes, se seleccionará a  {{seleccionData[0].value}} personas.</h3>
       <donut-chart  :color-array="this.getConstants.colors" :h="chartSize" :w="chartSize+40" :content="seleccionData"></donut-chart>
     </div>
     <div class="chart-box">
       <h3>Distribución por sexo</h3>
        <bar-chart :color-array="this.getConstants.colors" :h="chartSize" :w="chartSize" :content="sexoData"></bar-chart>
      </div>
    </div>
    <div class="chart-row">

      <div class="chart-box">
        <h3>Rangos de edad</h3>
        <bar-chart :color-array="this.getConstants.colors" :h="chartSize" :w="chartSize" :content="edadData"></bar-chart>
      </div>

      <div class="chart-box">
        <h3>Distribución en el país</h3>
        <donut-chart :color-array="this.getConstants.colors" :h="chartSize" :w="chartSize+40" :content="regionData"></donut-chart>
      </div>
    </div>
    <div class ="flex-end">
      <button class="btn btn-default" v-on:click="verResultados()">Ver reclutados</i> </button>
      <button class="btn btn-main" v-on:click="save()">Confirmar</i> </button>
    </div>
  </div>

  </div>
 </div>
 </div>

 <div class="right-bar">
   <step-bar :current="3" :steps="getConstants.convocatoriaSteps"></step-bar>
 </div>
 </div>
</div>
</template>
<script>
import StepBar from '../componentes/StepBar.vue';
import SpiderChart from '../componentes/SpiderChart.vue';
import BarChart from '../componentes/BarChart.vue';
import DonutChart from '../componentes/DonutChart.vue';
import Recruited from '../componentes/Reclutados.vue';
import _ from "underscore"
export default{
  data(){
    return{
      title:'Configurar relevancia de criterios',
      chartSize:280,
      loading:true,
      chartsLoaded:false,
      selectedVolunteers: [],
      totalSelected:0,
      neededVolunteers:0,
      templateId:"",
      showVolunteers:false,
      defaultCfg:{
                   margin: {top: 50, right: 50, bottom: 100, left: 50},
                   maxValue: 1,
                   levels: 5,
                   h:300,
                   roundStrokes: true,
                   color: "#1D9C98",
                   wrapWidth: 80,
                 },
     //seleccionData:[{label:"Seleccionado",value:660},{label:"No seleccionado",value:4500} ],
     //sexoData:[{label:"Mujer",value:410},{label:"Hombre",value:250}],
     regionData:[{label:"RM",value:0},{label:"IV",value:0},{label:"V",value:0},{label:"VIII",value:0}],
     //edadData:[{label:"15-17",value:0},{label:"18-20",value:0},{label:"21-23",value:0},{label:"24-26",value:0},{label:"28-29",value:0}],
     seleccionData:null,
     sexoData:null,
     edadData:null,
      relevanciaData: null
    }
  },
  components:{
    StepBar,
    SpiderChart,
    BarChart,
    DonutChart,
    Recruited
  },
  methods:{
    hideVolunteers:function(){
      console.log('hideVolunteers');
      this.showVolunteers= false;
    },
  	back:function(){
 	console.log('back()')
 this.$router.replace(this.getConstants.routes.nuevaConfigurarCriterios);
	},

  	next:function(){
 	console.log('next()')

	},
  verResultados: function() {
      this.$router.replace(this.getConstants.routes.reclutados);
  },
  save: function() {
      const apiUrlRelevance = this.getConstants.API_URL + "relevance/";
      const apiUrl = this.getConstants.API_URL + "callings/";
      let i = 0
      for (i ; i < this.$store.state.currentCriteriaRelevance[0].length; i++) {
     console.log('Relevancia de criterios array', this.$store.state.currentCriteriaRelevance[0][i])
}

      let CriteriaRelevance = this.$store.state.currentCriteriaRelevance
      let myJsonString =  JSON.stringify(CriteriaRelevance[0][0])
      let obj = {myJsonString}
      console.log('Relevancia de criterios array', this.$store.state.currentCriteriaRelevance[0])



      let currentDate = new Date();
      let dato={ "id": Math.floor(Math.random() * 50) + 10,
      "title": this.$store.state.formData.nombre,
      "selected": this.$store.state.formData.nVoluntarios,
      "createdAt": currentDate.getTime()}

      console.log('Relevancia de criterios json', obj)
      console.log('dato json', dato)


      this.$http.post(apiUrl, dato)
      .then(response=>{
          console.log('body', response.body)
          this.callings = response.body;

          setTimeout(()=>{this.loading=false;},500)

        },response=>{
            setTimeout(()=>{this.loading=false;},500)
        })

    /*  this.$http.post(apiUrlRelevance, myJsonString)
      .then(response=>{
          console.log('body', response.body)


          setTimeout(()=>{this.loading=false;},500)

        },response=>{
            setTimeout(()=>{this.loading=false;},500)
        })*/
       this.$router.replace(this.getConstants.routes.convocatorias+'?status=success');
  },
  getWeightedAttributes:function() {
        console.log(this.$store.state.currentCriteriaRelevance)
        console.log(this.$store.state.currentCriteriaData)



  },

  updateCharts:function(){
    this.loading=true;

    const apiUrl = this.getConstants.API_URL + "ranking";


    let weight = this.$store.state.currentCriteriaRelevance[0];
    console.log("WEIGHT",weight)
    let allAttributes = this.$store.state.currentCriteriaData;
    let weightedAttributes = {
        needed:this.neededVolunteers,
        criteria:[]
    }
    weight.forEach((c,i)=>{console.log("i",c)
                let criterion={}
                criterion.value=weight[i].value
                let attributes = allAttributes[i+2]
                criterion.attributes = attributes.attributes.map(a=>a.id);
                if (criterion.attributes.length>0) {
                  console.log("!!!!",criterion)
                  weightedAttributes.criteria.push(criterion)
                }
            } )


    console.log("WEIGHTED",weightedAttributes)
    console.log("UPDATE!",apiUrl)

    this.$http.post(apiUrl, weightedAttributes)
    .then(response=>{
        console.log('RANKINGBODY', response.body)
          this.sexoData = response.body.sexoData;
          console.log("VALUE222",JSON.stringify(response.body.edadData))
          this.seleccionData = response.body.selectedData;
          this.edadData = response.body.edadData;



          let selectedVolunteers = this.seleccionData[0].value;
          let totalRandom = 0;

          this.regionData.forEach((rd,i)=>{
                                        if (i<this.regionData.length-1){
                                        let extraRandom = (Math.random() * (0.05 - 0.1) + 0.1).toFixed(4)
                                        extraRandom *= Math.floor(Math.random()*2) == 1 ? 1 : -1;
                                        rd.value=Math.trunc(selectedVolunteers*(0.2+extraRandom))
                                        totalRandom+=rd.value

                                        }
                                        else {
                                        rd.value = Math.max(0,selectedVolunteers-totalRandom)

                                        }
                                        } )

          this.selectedVolunteers = response.body.volunteers
          this.chartsLoaded=true;
          this.totalSelected = this.seleccionData[0].value




        setTimeout(()=>{this.loading=false;},500)

      },response=>{
        console.log("ERROR",response)
          setTimeout(()=>{this.loading=false;},500)
      })


      /*
    console.log("updateCharts()")

    this.selectedVolunteers=_.sample(this.totalVolunteers,this.neededVolunteers)
    console.log(this.selectedVolunteers)

    let regionVolunteers = _.countBy(this.selectedVolunteers, o=>o.Region);
    let sexoVolunteers = _.countBy(this.selectedVolunteers,o=>o.Sexo);
    let edadVolunteers = _.countBy(this.selectedVolunteers,o=>{
                                                                if (o.Edad<=17)
                                                                    return "15-17"
                                                                else if (o.Edad<=20)
                                                                     return "18-20"
                                                                else if (o.Edad<=23)
                                                                     return "21-23"
                                                                else if (o.Edad<=27)
                                                                     return "24-27"
                                                                else
                                                                     return "28-30"
                                                          })
    this.sexoData = [{label:"Hombre",value:sexoVolunteers.H},{label:"Mujer",value:sexoVolunteers.M}]
    this.edadData = [{label:"15-17",value:0},{label:"18-20",value:0},{label:"21-23",value:0},{label:"24-27",value:0},{label:"28-30",value:0}],
    this.edadData.forEach(d=>{
                            if(edadVolunteers.hasOwnProperty(d.label)) {
                               d.value=edadVolunteers[d.label]
                            }

                        })

    let newRegionArray = []

    for(let region in regionVolunteers) {
      newRegionArray.push({label:region,value:regionVolunteers[region]})


    }
    this.regionData = newRegionArray
    this.seleccionData = [{label:"Seleccionado",value:+this.neededVolunteers},{label:"No seleccionado",value:this.totalVolunteers.length-this.neededVolunteers} ]
    console.log("RRRR",this.regionData)
    setTimeout(()=>{this.loading=false;},500)
    */
  }
},

mounted:function(){
console.log('ConfigurarCriterios.vue')
      if (this.$store.state.formData.nVoluntarios!='') {
      this.neededVolunteers = this.$store.state.formData.nVoluntarios;
      }
},
created:function(){
  const apiUrl = this.getConstants.API_URL;
  this.templateId = this.$store.state.formData.plantilla
  this.chartsLoaded = false


  /*
  this.$http.get(apiUrl+'volunteers')
  .then(response=>{
    this.totalVolunteers = response.body
    console.log('body', response.body)
      setTimeout(()=>{this.loading=false;},500)

  },response=>{
      setTimeout(()=>{this.loading=false;},500)
  }) */
  /*
  if(this.$store.state.currentCriteriaData===null) { //BORRAR

    this.$store.state.currentCriteriaRelevance=this.defaultData //BORRAR
  } //BORRAR
  else*/
  if (this.$store.state.currentCriteriaData!==null) {
  if(this.$store.state.currentCriteriaRelevance===null) {

    let criteriaData = this.$store.state.currentCriteriaData
    let newDefaultData=[]
    newDefaultData.push((this.$store.state.currentCriteriaData.filter((d,i)=>i!=0&&i!=1).map(d=>{return {axis:d.category,value:0.5}})))

    this.$store.state.currentCriteriaRelevance=newDefaultData

    }
    else {
      this.$store.state.currentCriteriaRelevance[0].forEach((d,i)=>{d.axis=this.$store.state.currentCriteriaData[i+2].category}  )
    }
      setTimeout(()=>{this.loading=false;},500)

    }
    else {

          let apiUrlSpider = this.getConstants.API_URL+'templates/'+this.templateId+'/criterions';

          this.$http.get(apiUrlSpider)
          .then(response=>{
            let newDefaultData=[]
            let criterionValues = response.body

            newDefaultData.push(criterionValues.map(a=>{return {axis:a.name,value:a.value/100}}))
            this.$store.state.currentCriteriaRelevance=newDefaultData
            console.log("REL",this.$store.state.currentCriteriaRelevance )
                    //this.$store.state.currentCriteriaData = response.body
            console.log('body', response.body)
              setTimeout(()=>{this.loading=false;},500)

          },response=>{
            console.log('erro', response)
              setTimeout(()=>{this.loading=false;},500)
          })
    }




  //this.defaultData=newDefaultData;

}


}
</script>
