<template>
<div>
  <div v-if="loading" class="loader-bar"></div>

  <h2>{{title}}</h2>
  <div class="inner-container">
  <div class="main-content">
    <template v-if="$store.state.currentCriteriaData!==null">
    <criterios :categories="$store.state.currentCriteriaData" :ranking="this.$store.state.ranking" @newCriteriaData="updateData"></criterios>
    <div class ="btn-distancia">
      <button class="btn btn-default" v-on:click="back()"> <i class="fa fa-chevron-left" aria-hidden="true"></i> Atrás</button>
      <button class="btn btn-main" v-on:click="next()">Siguiente <i class="fa fa-chevron-right" aria-hidden="true"></i> </button>
    </div>
  </template>


 </div>

 <div class="right-bar">
   <step-bar :current="2" :steps="getConstants.convocatoriaSteps"></step-bar>
 </div>
 </div>
</div>
</template>
<script>
import StepBar from '../componentes/StepBar.vue'
import Criterios from '../componentes/Criterios.vue'
export default{
  data(){
    return{
      title:'Configurar Criterios',
      loading:true,
      updatedCriteriaData: null,
      templateId: null,
      ranking:null,
    }
  },
  components:{
    StepBar,
    Criterios
  },
  methods:{
  	back:function(){
 	console.log('back()')
 this.$router.replace(this.getConstants.routes.nuevaConvocatoria);
	},

  	next:function(){
 	console.log('next()')

 	this.$router.replace(this.getConstants.routes.nuevaConfigurarRelevancia);
	},
  updateData:function(data) {
    //this.updatedCriteriaData=data;
    this.$store.state.currentCriteriaData=data;
  },



},
created:function() {

  this.templateId = this.$store.state.formData.plantilla

  let rankingUrl = this.getConstants.API_URL+'after_process_original_attributes'

  let attributesUrl = this.getConstants.API_URL+'after_process_attributes'
  const apiUrl = this.getConstants.API_URL+'templates/'+this.templateId+'/criterions/attributes';
  console.log(apiUrl)
  if(this.$store.state.currentCriteriaData===null) {
    this.$http.get(rankingUrl)
    .then(response=>{
              //this.$store.state.currentCriteriaData = response.body
        console.log('body', response.body)
        this.$store.state.ranking=response.body
        //setTimeout(()=>{this.loading=false;},500)

                            this.$http.get(attributesUrl)
                            .then(response=>{


                              this.$store.state.currentCriteriaData=[
                                {
                                "category": "Sin clasificar",
                                "attributes": response.body },
                                {
                                "category": "Motivos de descarte",
                                "attributes": []
                                },

                                {
                                "category": "Habilidades físicas",
                                "attributes":[ ]
                                },
                                {
                                "category": "Recursos materiales",
                                "attributes": []
                                },
                                {
                                "category": "Conocimiento",
                                      "attributes": [],
                                }
                              ]
                                      //this.$store.state.currentCriteriaData = response.body
                                console.log('body', response.body)
                                setTimeout(()=>{this.loading=false;},500)

                            },response=>{
                              console.log('erro', response)
                                setTimeout(()=>{this.loading=false;},500)
                            })



            },response=>{
              console.log('erro', response)
                setTimeout(()=>{this.loading=false;},500)
            })







              //this.$store.state.currentCriteriaData=this.criteriosData;
          }
          else {
          setTimeout(()=>{this.loading=false;},500)
          }










},
mounted:function(){
console.log('ConfigurarCriterios.vue')
}

}
</script>
