<template>
<div>
  <div v-if="loading" class="loader-bar"></div>
  <alert :message="message" :show="showAlert"></alert>
  <h2>{{title}}</h2>
  <div class="inner-container">
    <div  class="main-content"><!--contenido principal -->
      <div v-if="callings.length !== 0"  class="calling-list">

        <ul>
          <li class="list-header">
            <span class="title">Nombre</span>
            <span class="selected">Seleccionados</span>
            <span class="date">Creada en</span>
          </li>
          <li v-for="c in callings" class="list-item">
            <span class="title">{{c.title}}</span>
            <span class="selected">{{c.selected}}</span>
            <span class="date">{{formatDate(c.createdAt)}}</span>
          </li>
        </ul>
      </div>
      <div v-else class="empty-content">
        <img src="../img/ico-megaphone.svg"/>
        <div class="empty-text">
          Aún no has creado tu primera convocatoria.
        </div>
      </div>

    </div>
    <div class="right-bar"><!--contenido lateral -->

      <button class="btn btn-main" v-on:click="next()">Nueva</button>
    </div>
  </div>



</div>
</template>
<script>
import moment from "moment";
import Alert from '../componentes/Alert.vue';
moment.locale('es');
export default{
  data(){
    return{
      title:'Convocatorias',
      callings:[],
      moment:moment,
      loading:true,
      message:'',
      showAlert:false
    }
  },
  components:{
    Alert
  },
  methods: {
  	next:function(){
 	    console.log('next()');
      this.$store.state.formData= {nombre:'',nVoluntarios:'',descripcion:'',plantilla:''}
      this.$store.state.currentCriteriaData=null
      this.$store.state.currentCriteriaRelevance=null
 	    this.$router.replace(this.getConstants.routes.nuevaConvocatoria);
		},
    formatDate:(date)=>moment(date).format("D")+ ' de ' +moment(date).format("MMMM")
},
    mounted:function(){
      console.log('Convocatorias.vue');
      const apiUrl = this.getConstants.API_URL;
      this.$http.get(apiUrl+'announcements')
      .then(response=>{
        console.log('body', response.body)
        this.callings = response.body;
        setTimeout(()=>{this.loading=false;},500)

      },response=>{
          setTimeout(()=>{this.loading=false;},500)
      });
      if (this.$route.query.status=='success'){
        this.message='La convocatoria se ha creado con éxito';
        this.showAlert = true;
        setTimeout(()=>{this.showAlert=false},5000)
      }
    }


}

</script>
