<template>
<div>
  <h2>{{title}}</h2>
</div>
</template>
<script>
export default{
  data(){
    return{
      title:'Modificar Selección'
    }
  },
  mounted:function(){
    console.log('ModificarSelección.vue')
  }
}
</script>