<template>
<div>
  <div v-if="loading" class="loader-bar"></div>
  <h2>{{title}}</h2>
  <div class="inner-container">

    <div  class="main-content"><!--contenido principal -->
     <form>
       <div >
       <label> Nombre </label>
       <input v-model="$store.state.formData.nombre" placeholder = "ingrese nombre" >
      </div>
             <div>
        <label> N° de voluntarios </label>
        <input v-model="$store.state.formData.nVoluntarios" placeholder = "número de voluntarios" >
      </div>
      <div class="descripcion">
        <label> Descripción (opcional)</label>
        <textarea v-model="$store.state.formData.descripcion" placeholder = "descripcion" ></textarea>
      </div>
      <!--
        <div>


       <label>Plantilla</label>

      <select v-model="$store.state.formData.plantilla" >


        <option disabled value=""> Seleccione una opción</option>
          <option  v-for=" option in plantillas"  v-bind:value="option.id" >
          {{ option.name }}
              </option>
        </select>

      </div>
    -->
      <div>
       <label>Archivo</label>
       <input class="input" type="file"  >
      </div>
    </form>


    <div class ="btn-distancia">
      <button class="btn btn-default" v-on:click="back()"> <i class="fa fa-chevron-left" aria-hidden="true"></i> Atrás</button>
      <button class="btn btn-main" v-on:click="next()"> Siguiente <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>

     </div>

    <div class="right-bar"><!--contenido lateral -->

    <step-bar :current="1" :steps="getConstants.convocatoriaSteps"></step-bar>
    </div>


    </div>

  </div>

</div>
</template>
<script>
import StepBar from '../componentes/StepBar.vue'
export default{
  data(){
    return{
      title:'Crear nueva convocatoria',
      nombre:'',
      nVoluntarios:'',
      descripcion:'',
      plantillas:[],
      plantillaId:'',
      plantillaNombre:'',
      archivo:'',
      loading:true

    }
  },
  components:{
    StepBar
  },
  methods: {
  	back:function(){
 	console.log('back()')
 	this.$router.replace(this.getConstants.routes.convocatorias);
	},

  	next:function(){
 	console.log('next()')

  console.log("formulario: ", this.$store.state.formData)
 	this.$router.replace(this.getConstants.routes.nuevaConfigurarCriterios);
	},

  subir:function(e){
      console.log('subir')

  }
},


	mounted:function(){

  //this.$http.get('http://localhost:3000/plantillas')
  let apiUrl = this.getConstants.API_URL;
  //this.$http.get(apiUrl+'callings')
  console.log(apiUrl+"templates")
  this.$http.get(apiUrl+"templates")
  .then(response=>{
    console.log('body', response.body)
    this.plantillas = response.body;
    console.log('plantillas', this.plantillas)



    setTimeout(()=>{this.loading=false;},500)

  },response=>{
      setTimeout(()=>{this.loading=false;},500)
  })
  }

}
</script>
