<template>
  <div v-if="show && innerShow" class="alert">
    {{message}}
    <span class="alert-close" @click="close()"><i class="fa fa-times" aria-hidden="true"></i></span>
  </div>
</template>
<script>
export default{
  props: ['message','show'],
  data(){
    return {
      innerShow:true
    }
  },
  methods:{
    close:function(){
      this.innerShow = false;
    }
  },
  mounted:function(){
    console.log('Alert.vue')
    //console.log('show',this.show)
    //console.log('innerShow',this.innerShow)
  }
}
</script>
