<template>

<div>
</div>
</template>
<script>
import * as d3 from 'd3';
export default {
props: {
        'content':{},
        'colorArray':{},
        'id':{},
        'w':{default:200},
        'h':{default:200},
        'margins':{default:()=>{return {top: 20, right: 20, bottom: 30, left: 60}}}
      },
data(){
  return{
    width: this.w,
    height: this.h,
    margin: this.margins,
    chartId: this.id,
  }
},
 created:function() {
   if (this.chartId === undefined) {
     this.chartId = this.createRandomId();
   }

 },
mounted:function(){
  this.createChart(this.content)
  console.log("ID",this.chartId)



},
methods:{

   getRandomColor:function() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
},

    createRandomId:function() {
    var randomId = "";
    var characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
    randomId += characters.charAt(Math.floor(Math.random() * characters.length));
    characters += "0123456789"
    for (var i = 0; i < 12; i++)
    randomId += characters.charAt(Math.floor(Math.random() * characters.length));

    return randomId;

  },

  createChart:function(data){
    let id = "#"+this.chartId;
    let colorScale;
    if (this.colorArray==null){
      console.log("!!!!!!!!")
      colorScale = d3.scaleOrdinal(d3.schemeCategory10)
    }
    else {
      colorScale = d3.scaleOrdinal(this.colorArray)
    }
    d3.select(this.$el).style("width",this.width)
    d3.select(this.$el).style("height",this.height)
    var svg = d3.select(this.$el).append("svg").attr("id",this.chartId).attr("width",this.width).attr("height",this.height)

    this.width = this.width - this.margin.left - this.margin.right;
    console.log("MM",this.height)
    this.height = this.height - this.margin.top - this.margin.bottom;
console.log("M",this.height)
    var x = d3.scaleBand().rangeRound([0, this.width]).padding(0.1),
          y = d3.scaleLinear().rangeRound([this.height, 0]);


    var g = svg.append("g")
           .attr("transform", "translate(" + this.margin.left + "," + this.margin.top + ")");


         x.domain(data.map(function(d) { return d.label; }));
         y.domain([0, d3.max(data, function(d) { return d.value; })]);

         g.append("g")
             .attr("class", "axis axis--x")
             .attr("transform", "translate(0," + this.height + ")")
             .call(d3.axisBottom(x));

         g.append("g")
             .attr("class", "axis axis--y")
             .call(d3.axisLeft(y).ticks(10))
          //.append("text")
          //   .attr("transform", "rotate(-90)")
          //   .attr("y", 6)
          //   .attr("dy", "0.71em")
          //   .attr("text-anchor", "end")
          //   .text("Frecuencia");

         g.selectAll(".bar")
           .data(data)
           .enter().append("rect")
             .attr("class", "bar")
             .attr("x", function(d) { return x(d.label); })
             .attr("y", function(d) { return y(0); })
             .attr("width", x.bandwidth())
             .attr("height",0)
             .attr("fill",d=>colorScale(d.label))
             .on("mouseover", function(d){
                                d3.select(id).selectAll(".bar").attr("opacity", 0.5)
                                d3.select(this).attr("opacity",1)
                            })
             .on("mouseout", function(d){d3.select(id).selectAll(".bar").attr("opacity",1)})
             .transition().duration(750)
             .attr("y",d=>y(d.value))
             .attr("height", d=>this.height - y(d.value))


  },

  updateChart:function(newData){
    var y = d3.scaleLinear().rangeRound([this.height, 0]);
    y.domain([0, d3.max(newData, function(d) { return d.value; })]);
      let svg = d3.select("#"+this.chartId)
      let bars = svg.selectAll(".bar")
      bars.data(newData).transition().duration(750).attr("y",d=>{console.log(d.value);return y(d.value)})
                   .attr("height", d=>this.height - y(d.value))

      svg.select(".axis--y").transition().duration(750).call(d3.axisLeft(y).ticks(10))


      console.log("BARS",bars)
  },
  /*
  test:function() {
    let a= this.getRandomInt(0,200)
    let b = this.getRandomInt(0,200)
    console.log("RAN",[a,b])
        let newTestData = [{column:"Mujer",value:a},{column:"Hombre",value:b}]
        this.updateChart(newTestData)


  }

  */
},
watch:{
  content: {
   handler(newData){
     console.log("NEWDATA",newData)
     this.updateChart(newData)
   },
   deep:true
 },
}
}
</script>
