<template>
  <div class="criterios-container">


    <!--<h3>-->
      <span class="btn btn-link new-criterion " v-on:click="newCriterion()">Nuevo criterio <i class="fa fa-plus" aria-hidden="true"></i></span>
    <!--</h3>-->
    <div class="criteria-list">

    <div v-for="c,i in categories" v-if="i!=1" class="criterion-category" v-bind:class="{'criterion-no-category':i==0}"  >


      <vl-dropdown v-if="i!=0" class="criterion-more" style="float:right" :closeAfterClick="true">
      <div slot="toggle">···</div>

      <div class="menu-item" v-on:click="removeCriterion(i)">Eliminar</div>
      </vl-dropdown>
      <h2 v-if="i!=0">

        <editable-binding class="editable-binding" :content="c.category" @update="c.category=$event" v-on:keypress.enter="test2()"></editable-binding>
      </h2>
      <h2 v-else>
        {{c.category}}
      </h2>


    <draggable  v-if="i!=0" v-model="categories[i]['attributes']" :options="{group:'attributes'}" class="attribute-container">

       <div v-for="attribute,j in categories[i]['attributes']" class="attribute">
         <div class="attribute-title">{{attribute.name}}</div>
         <!--
         <vl-dropdown :closeAfterClick="true">
         <div slot="toggle">···</div>
         <div class="menu-item" v-on:click="removeAttribute(i,j)">Eliminar</div>
         </vl-dropdown>
       -->

      </div>
    </draggable>

    <template v-if="i==0">
      <div class="filter-box"><input placeholder="Ingrese filtro de búsqueda" v-model="filterText" v-on:keyup="filterAttributes" ></div>

    <div v-for="origAtt,k in attributesByAtributoOriginal" :key="origAtt.key" class="orig-attribute-container">
      <draggable slot="footer" @add="updateUnclassified" @remove="updateUnclassified" v-model="attributesByAtributoOriginal[k].values" :options="{group:'attributes'}">
      <div v-if="hasChildAttributes(k) && !origAtt.values[0].binar" @click="toggleOrigCategory(origAtt.key)" class="orig-attribute">
        <div class="attribute-title">
      {{origAtt.key}}
      </div>
      <div>
        <i v-if="!showDicc[origAtt.key]" i class="fa fa-caret-down" aria-hidden="true"></i>
        <i v-else i class="fa fa-caret-up" aria-hidden="true"></i>
      </div>
    </div>
  </draggable>
    <div v-if="showDicc[origAtt.key] || filterText.length>=3">

    <draggable @add="updateUnclassified" @remove="updateUnclassified" v-model="attributesByAtributoOriginal[k].values" :options="{group:'attributes'}" class="attribute-container">

       <div v-for="attribute,l in attributesByAtributoOriginal[k].values" v-if="attribute.name.toLowerCase().includes(filterText.toLowerCase())"  class="attribute new-attribute" :class="attribute.binar?'no-orig-attribute':''" >

         <div class="attribute-title">{{attribute.name}}</div>
         <!--
         <vl-dropdown :closeAfterClick="true">
         <div slot="toggle">···</div>
         <div class="menu-item" v-on:click="removeAttribute(i,j)">Eliminar</div>
         </vl-dropdown>
        -->
      </div>
    </draggable>
  </div>
  </div>
</template>



  </div>

  </div>
  <div class="undesirable-container" v-if="false">
  <div class="undesirable-category  " :style="'width:'+(categories.length-1)*200+'px'">
      <h2>Motivos de descarte </h2>
        <draggable v-model="categories[1]['attributes']" :options="{group:'attributes'}" class="attribute-container">
          <div v-for="attribute,j in categories[1]['attributes']" class="attribute">
            <div class="attribute-title">{{attribute.name}}</div>
            <!--
            <vl-dropdown :closeAfterClick="true">
            <div slot="toggle">···</div>
            <div class="menu-item" v-on:click="removeAttribute(i,j)">Eliminar</div>
            </vl-dropdown>
            -->
         </div>
        </draggable>

  </div>

  </div>

</div>

</template>


<script>
import * as d3 from 'd3';
import draggable from 'vuedraggable';
import VlDropdown from 'vueleton/lib/dropdown';
import EditableBinding from './EditableBinding.vue'
export default{

    props:["categories","ranking"],
    components: {
    draggable,
    VlDropdown,
    EditableBinding,


    },
    data(){
      return{
      toggle:true,
      attributesByAtributoOriginal:null,
      testVar:"hola",
      filterText:"",
      filtering:false,
      showDicc:{}

 }
},
 methods:{

   toggleOrigCategory: function(attribute) {

        this.showDicc[attribute]=!this.showDicc[attribute]
        this.$forceUpdate()
   },
   filterAttributes: function(e) {
      //let  attributesByAtributoOriginalCopy2 = JSON.parse(JSON.stringify(this.attributesByAtributoOriginalCopy))
      //attributesByAtributoOriginalCopy2.forEach(a=>{console.log(a);a.values=a.values.filter(e=>e.name.includes(this.filterText)) })
      //this.attributesByAtributoOriginal = attributesByAtributoOriginalCopy2
   },
   hasChildAttributes: function(origAttributeIndex) {
     let filtered = this.attributesByAtributoOriginal[origAttributeIndex].values.filter(a=>a.name.toLowerCase().includes(this.filterText.toLowerCase()))
     if (filtered.length>0) {return true} else {return false}

   },
   updateUnclassified: function(a) {

     console.log(":)")
     console.log("aaa",a)
     console.log(this.attributesByAtributoOriginal)
     //this.test = this.attributesByAtributoOriginal.reduce( (a,b)=>{a.values.concat(4)},[])
     let updatedAttributes = []
     this.attributesByAtributoOriginal.forEach(a=>{console.log("A");updatedAttributes.push(...a['values'])})

     //this.newAttributes = [...this.]
     this.categories[0].attributes=updatedAttributes
     this.attributesByAtributoOriginal = d3.nest()
    .key(function(d) { return d.atributo_original; })
    .entries(this.categories[0].attributes)

    this.attributesByAtributoOriginal.forEach(a=>{
                                     this.showDicc[a.key]=a.values[0].binar
                                     a.ranking = this.ranking.find(r=>r.atributo_original==a.key).score
                                   });
    this.attributesByAtributoOriginal.sort((a,b)=>a.ranking-b.ranking)


   },


   test2:function(event) {
     console.log("EV",event.draggedContext)
     },
     test3:function() {
       alert("aaa")
     },
   removeAttribute: function(criterionIndex,attributeIndex,importance) {
     if (importance!=undefined)
     this.categories[criterionIndex]["attributes"][importance].splice(attributeIndex,1)
     else
     this.categories[criterionIndex]["attributes"].splice(attributeIndex,1)
   },
   removeCriterion: function(criterionIndex) {
     this.categories[0].attributes.push(...this.categories[criterionIndex].attributes)

     let updatedAttributes = []


     this.attributesByAtributoOriginal.forEach(a=>{console.log("A");updatedAttributes.push(...a['values'])})

     //this.newAttributes = [...this.]
     this.categories[0].attributes=updatedAttributes
     this.attributesByAtributoOriginal = d3.nest()
    .key(function(d) { return d.atributo_original; })
    .entries(this.categories[0].attributes)

    this.attributesByAtributoOriginal.forEach(a=>{
                                     this.showDicc[a.key]=a.values[0].binar
                                     a.ranking = this.ranking.find(r=>r.atributo_original==a.key).score
                                   });
    this.attributesByAtributoOriginal.sort((a,b)=>a.ranking-b.ranking)



     this.categories.splice(criterionIndex,1)

     this.$store.state.currentCriteriaRelevance=null;

   },
   newCriterion: function() {
     this.categories.push({category:"Clic para cambiar nombre",attributes:[]})
     this.$store.state.currentCriteriaRelevance=null;
   }


 },
 created:function() {
/*
   this.orig_attributes = d3.nest()
  .key(function(d) { return d.atributo_original; })
  .entries(this.categories[0].attributes)
*/
this.attributesByAtributoOriginal = d3.nest()
.key(function(d) { return d.atributo_original; })
.entries(this.categories[0].attributes)


  this.attributesByAtributoOriginal.forEach(a=>{
                                   this.showDicc[a.key]=a.values[0].binar
                                   a.ranking = this.ranking.find(r=>r.atributo_original==a.key).score
                                 });
    this.attributesByAtributoOriginal.sort((a,b)=>a.ranking-b.ranking)

   //this.categories.forEach(c=>{/*c.editing=false;*/c.attributes.forEach(co=>co.visible=true)});


 },
 mounted:function(){

  console.log("!!!!!!!!!!",this.attributesByAtributoOriginal)


 },

 computed:{

 }
,
 watch: {
    categories: {
      handler(newData){
        this.$emit('newCriteriaData',newData);
      },
      deep:true
    },
    /*attributesByAtributoOriginal: {
      handler(newData){
        //alert("HOLA")
      },
      deep:true
    },*/

    }


  }



</script>
