<template>

<!--<div @click="enable" @blur="disable" @paste="prevent" @keydown.enter="prevent" @keydown.ctrl="prevent" @keydown.esc="prevent" @input="update" ></div>
-->
<div>

      <!--<button v-on:click="test()">Dona</button>-->

</div>
</template>
<script>
import * as d3 from 'd3';
export default {
props: {'number':{},
        'content':{},
        'id':{},
        'w':{default:960},
        'h':{default:500},
        'margins':{default:()=>{return {top: 20, right: 20, bottom: 30, left: 40}}}
      },
data(){
  return{
    testData: [{label:"RM",value:2704659},{label:"V",value:4499890},{label:"VI",value:2159981},{label:"IV",value:8819342},{label:"X",value:3853788},{label:"VIII",value:14106543},{label:"XII",value:10106543}],
    width: this.w,
    height: this.h,
    margin: this.margins,
    chartId: this.id,
    format: null,
    baseUnit: 0,
    labelArc: null,
    arc: null,
    colorScale: null,
    pie: null,
    radius:null,
  }
},
 created:function() {
   if (this.chartId === undefined) {
     this.chartId = this.createRandomId();
   }

 },
mounted:function(){
  this.createChart(this.content)
  console.log("ID",this.chartId)



},
methods:{

   getRandomColor:function() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
},

    createRandomId:function() {
    var randomId = "";
    var characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
    randomId += characters.charAt(Math.floor(Math.random() * characters.length));
    characters += "0123456789"
    for (var i = 0; i < 12; i++)
    randomId += characters.charAt(Math.floor(Math.random() * characters.length));

    return randomId;

  },

  arcTween: function(arc) {
    return function(d) {

      var interpolate = d3.interpolate(d.startAngle, d.endAngle);
      return function(t) {

        d.endAngle = interpolate(t);
        return arc(d);
      };
    };
  },
  arcTweenUpdate: function(arc) {
    return function(d) {

      var interpolateS = d3.interpolate(d.oldStart, d.startAngle);
      var interpolateE = d3.interpolate(d.oldEnd,d.endAngle)
      return function(t) {
        d.startAngle = interpolateS(t)
        d.endAngle = interpolateE(t);
        return arc(d);
      };
    };
  },
  arcTweenRemove: function(arc) {
    return function(d) {

      var interpolate = d3.interpolate(d.endAngle,d.startAngle)
      return function(t) {
          d.endAngle = interpolate(t);
        return arc(d);
      };
    };
  },

  resize:function(d,i){
      d3.select(this).attr("transform","scale(2)")
  },


createChart:function(data){
 let _this=this
 this.format = d3.format('.0%')
 this.radius = Math.min(this.width, this.height) / 2;
 this.baseUnit = this.radius/25

 this.colorScale = d3.scaleOrdinal()
    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

 this.arc = d3.arc()
    .outerRadius(this.radius - this.baseUnit)
    .innerRadius(this.radius - this.baseUnit*7)
    .cornerRadius(0.1)

 this.selectedArc = d3.arc()
         .outerRadius(this.radius-this.baseUnit/2)
         .innerRadius(this.radius-this.baseUnit*8)
         .cornerRadius(5)

 this.labelArc = d3.arc()
        .outerRadius(this.radius - this.baseUnit*4)
        .innerRadius(this.radius - this.baseUnit*4);

 this.pie = d3.pie()
    .sort(null)
    .value(function(d) { return d.value; });
 d3.select(this.$el).style("width", this.width).style("height", this.height)
 let svg = d3.select(this.$el).append("svg").attr("id",this.chartId)
    .attr("width", this.width)
    .attr("height", this.height)
  .append("g")
    .attr("transform", "translate(" + this.width / 2 + "," + this.height / 2 + ")");

 let sum = data.reduce((a, b) => a + b.value, 0);
 data.forEach(d=>{d.percentage=d.value/sum})
 let pieData = this.pie(data)

 console.log(pieData)
 pieData.forEach(d=>{ d.end=d.endAngle;
                      d.start=d.startAngle;
                    })
  var g = svg.selectAll(".arc")
        	.data(pieData)
        	.enter().append("g")
        	.attr("class", "arc");
  let circleG = svg.append("g").attr("class","center-circle")

  circleG.append("circle").attr("cx",0).attr("cy",0).attr("r","5").attr("fill","white").attr("opacity",0.3)
  circleG.append("text").attr("class","percentage").attr("font-size","2em").attr("text-anchor", "middle")
  circleG.append("text").attr("class","value").attr("dy","2em").attr("text-anchor", "middle")
  var path = g.append("path")
	             .attr("d", this.arc)
	             .style("fill", (d,i)=>this.colorScale(i))

  path.transition().duration(1000).attrTween("d",  this.arcTween(this.arc))

  path.on("mouseover",function(d,i){
                                      d3.select(this).transition().duration(200).attr("d", _this.selectedArc);
                                      let circle = d3.select("#"+_this.chartId).select(".center-circle")
                                      circle.select("circle").attr("fill",_this.colorScale(i)).transition().duration(500).attr("r",_this.radius-_this.baseUnit*10)
                                      circle.select(".value").text(d.data.value)
                                      circle.select(".percentage").text(_this.format(d.data.percentage))
                                    })
  path.on("mouseout",function(d,i){
                                      d3.select(this).transition().duration(200).attr("d", _this.arc);
                                      let circle = d3.select("#"+_this.chartId).select(".center-circle")
                                      circle.select("circle").attr("fill",_this.colorScale(i)).transition().duration(500).attr("r",0  )
                                      circle.select(".value").text("")
                                      circle.select(".percentage").text("")
                                  })
g.append("text")
  .attr("transform", d=>"translate(" + this.labelArc.centroid(d) + ")")
  .attr("text-anchor", "middle")
  .text(function(d) { return d.data.label})
  },

  updateChart:function(newData){
    let _this = this
    var newPieData = this.pie(newData)

    let sum = newData.reduce((a, b) => a + b.value, 0);
    newData.forEach(d=>{d.percentage=d.value/sum})
    console.log("piDD2",newPieData)
    newPieData.forEach(d=>{ d.end=d.endAngle;
                         d.start=d.startAngle;
                       })
                       console.log("this.c",this.chartId)


    d3.select("#"+this.chartId).selectAll("path").each((d,i)=>{ if(i<newData.length){
                                                                newPieData[i].oldStart=d.startAngle;
                                                                newPieData[i].oldEnd=d.endAngle;
                                                                }
                                                                })


    var g = d3.select("#"+this.chartId).select("g").selectAll(".arc").data(newPieData)
    var path = g.select("path")
    var text = g.select("text")

    //Update
    path.attr("d", this.arc).transition().duration(1000).attrTween("d",  this.arcTweenUpdate(this.arc))



    text
    /*.transition().duration(100).attr("transform", d=>"translate(0,0)")*/
      .transition().duration(500).attr("transform",d=>"translate(" + this.labelArc.centroid(d) + ") scale(1.2)")
      .transition().duration(500).attr("transform",d=>"translate(" + this.labelArc.centroid(d) + ") scale(1)")
      //.transition().duration(1000).attr("transform", d=>"translate(" + this.labelArc.centroid(d) + ")")
      .attr("text-anchor", "middle")
      .text(function(d) { return d.data.label})

    //Exit
    g.exit().select("path").transition().duration(1000).attrTween("d",  this.arcTweenRemove(this.arc)).remove()
    g.exit().select("text").transition().duration(1000).attr("transform", function(d) { return "scale(0)"; }).remove().on("end",()=>{g.exit().remove()})
    //Enter
    let newG = g.enter().append("g").attr("class", "arc")
    let newPath = newG.append("path").attr("d", this.arc).style("fill", (d,i)=>this.colorScale(i))
    newPath.transition().duration(1000).attrTween("d",  this.arcTween(this.arc))

    newPath.on("mouseover",function(d,i){
                                        d3.select(this).transition().duration(200).attr("d", _this.selectedArc);
                                        let circle = d3.select("#"+_this.chartId).select(".center-circle")
                                        circle.select("circle").attr("fill",_this.colorScale(i)).transition().duration(500).attr("r",_this.radius-_this.baseUnit*10)
                                        circle.select(".value").text(d.data.value)
                                        circle.select(".percentage").text(_this.format(d.data.percentage))
                                      })
    newPath.on("mouseout",function(d,i){
                                        d3.select(this).transition().duration(200).attr("d", _this.arc);
                                        let circle = d3.select("#"+_this.chartId).select(".center-circle")
                                        circle.select("circle").attr("fill",_this.colorScale(i)).transition().duration(500).attr("r",0  )
                                        circle.select(".value").text("")
                                        circle.select(".percentage").text("")
                                    })



    newG.append("text")
    .attr("transform", d=> "translate(" + this.labelArc.centroid(d) + ")")
    .attr("text-anchor", "middle")
    .text(function(d) { return d.data.label})
    },
  getRandomInt: function(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
  },
  /*
  test:function() {
    var data22 = [{label:"RM",value:2704659},{label:"V",value:4499890},{label:"VI",value:2159981},{label:"IV",value:8819342},{label:"X",value:3853788}]

    var start = Math.floor( Math.random() * data22.length );
    var end = Math.floor( Math.random() * ( data22.length - start ) ) + start + 1;
    if ( end === data22.length ) {
      end = undefined;
    }
    var data2 = data22.slice(start,end)
    this.updateChart(data2)
  }
  */

},
watch: {
    content: {
     handler(newData){
       console.log("NEWDATA",newData)
       this.updateChart(newData)
     },
     deep:true
   },
   /*
   number: {
     handler(newData){
       console.log("BB")
       console.log(newData)
       //this.updateChart(newData)
     }
   }
   */
  }
}
</script>
