<template>
<div @click="enable" @blur="disable" @paste="prevent" @keydown.enter="prevent" @keydown.ctrl="prevent" @keydown.esc="prevent" @input="update" ></div>

</template>
<script>
 export default {
 props: ['content'],
 mounted:function(){
  this.$el.innerText = this.content;
},
 methods:{
   update:function(event){
         this.$emit('update',event.target.innerText);
       },
    prevent:function(event){
      event.preventDefault()
      this.$el.blur()
    },
    disable:function(event){
      this.$el.setAttribute("contentEditable",false)
    },
    enable:function(event){
      console.log("E")
      event.preventDefault()
      this.$el.setAttribute("contentEditable",true)
      this.$el.focus()
    }
 }
 }
</script>
