<template>
<div>
  <div v-if="loading" class="loader-bar"></div>
  <h2>{{title}}</h2>
  <div class="inner-container">

    <div  class="main-content"><!--contenido principal -->
      <div v-if="paginatedVolunteers.length==0" class="empty-text">
        No se han encontrado reclutas para esta selección.
      </div>
      <ul v-else class="recruit-list">
        <li class="list-header">
          <span class="recruit-ranking">Ranking</span>
          <span class="recruit-name">Nombre</span>
          <span class="recruit-age">Edad</span>
          <!--<span class="recruit-region">Región</span>-->
        </li>
        <li v-for="r in paginatedVolunteers">
          <span class="recruit-ranking">{{r.id}}</span>
          <span class="recruit-name">{{r.first_name}} {{r.last_name}}</span>
          <span class="recruit-age">{{r.age}}</span>
          <!--<span class="recruit-region">{{r.Region}}</span>-->
        </li>
      </ul>
      <div class ="btn-pagination">
        <button class="btn btn-link" v-if="currentPage>1" v-on:click="pageBack()"> <i class="fa fa-chevron-left" aria-hidden="true"></i> </button>
        <span class="current-page">Página {{currentPage}} de {{totalPages}}</span>
        <button class="btn btn-link" v-on:click="pageNext()">  <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
      </div>
      <!--<div class ="flex-end">
        <button class="btn btn-default" v-on:click="back()">Modificar</i> </button>
        <button class="btn btn-main" v-on:click="save()">Confirmar</i> </button>
      </div>-->
    </div>
    <!--<div class="right-bar">

    <step-bar :current="3" :steps="getConstants.convocatoriaSteps"></step-bar>
    </div>-->
  </div>

</div>
</template>
<script>
import StepBar from '../componentes/StepBar.vue'
export default{
  components:{
    StepBar
  },
  props:['volunteers','total'],
  data(){
    return{
      title:'Reclutados',
      loading:true,
      //recruits:[],
      currentPage:1,
      //totalPages :this.total,
      pageSize:10
    }
  },
  computed:{
    paginatedVolunteers:function(){
      let page_number = this.currentPage - 1;
      let page_size = this.pageSize;
      console.log('page_number', page_number)
      console.log('page_size', page_size)
      return this.volunteers.slice(page_number * page_size, (page_number + 1) * page_size);
    },
    totalPages:function(){
      return Math.round(this.total/10)
    }
  },
  methods:{
    pageBack:function(){
      console.log('pageBack')
      if (this.currentPage>1){
        this.currentPage--;
        //this.loadRecruits(this.currentPage)
      }
    },
    pageNext:function(){
      console.log('pageNext')
      this.currentPage++
      //this.loadRecruits(this.currentPage)
    },
    loadRecruits:function(ind){
      this.loading = true;
      const apiUrl = this.getConstants.API_URL;
      this.volunteers.forEach(function(d,i){
        d.id = i+1;
      })
      console.log('volunteers', this.volunteers)
      console.log('paginatedVolunteers', this.paginatedVolunteers)
      setTimeout(()=>{this.loading = false},1000)
      /*this.$http.get(apiUrl+'volunteers?_page='+ind)
      .then(response=>{
        this.recruits = response.body;
        setTimeout(()=>{this.loading = false},1000)
      },response=>{
        console.error('error cargando reclutados');
        setTimeout(()=>{this.loading = false},1000)
      })*/
    },
    back:function(){
 	    console.log('back()')
      this.$router.replace(this.getConstants.routes.nuevaConfigurarRelevancia);
    },
    save: function() {
        const apiUrl = this.getConstants.API_URL + "callings/";
        let currentDate = new Date();
        let dato={
          "id": Math.floor(Math.random() * 50) + 10,
          "title": this.$store.state.formData.nombre,
          "selected": this.$store.state.formData.nVoluntarios,
          "createdAt": currentDate.getTime()
        }
        this.$http.post(apiUrl, dato)
        .then(response=>{
            console.log('body', response.body)
            this.callings = response.body;
            this.$router.replace(this.getConstants.routes.convocatorias+'?status=success');
            setTimeout(()=>{this.loading=false;},500)

          },response=>{
              setTimeout(()=>{this.loading=false;},500)
          })
    }

  },
  mounted:function(){
    console.log('Reclutados.vue');
    this.loadRecruits(this.currentPage)

  }
}
</script>
