<template>
  <div class="step-bar">
      <div v-for="(step, index) in steps" class="step"  v-bind:class="{'selected-step':isCurrentStep(index+1)}">
          <div class="step-name" v-if="isCurrentStep(index+1)">
            <div class="step-number">{{index+1}}</div>
          {{step.step}}
          </div>

          <div v-else class="step-name">

          <a :href="step.link">
           <div class="step-number">{{index+1}}</div>
            {{step.step}}</a>
          </div>

          <div v-if="index+1!=steps.length" class="step-arrow">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </div>

      </div>
  </div>
</template>
<script>
 export default {
 props: ['current','steps'],
 data(){
   return {

   }
 },
 mounted:function(){
      //this.steps=[{step:"Nueva convocatoria",link:"convocatoria/nueva"},{step:"Criterios de selección",link:"convocatoria/nueva-criterios"},{step:"Relevancia de criterios",link:"convocatoria/nueva-relevancia"}]

  },
 methods:{
   isCurrentStep:function(step) {
      return step==this.current?true:false
   }
 }
 }
</script>
