<template>
  <div class="main-container">
    <nav class="sidebar">
      <div class="logo">
       <a :href="'/'">
        <img src="./img/logo-ayni.svg" />
        <span class="upper-text">Ayni</span>
        <!--<span class="lower-text">Reclutamiento de Voluntarios</span>-->
         </a>
      </div>
    </nav>

    <main class="container">
      <app-nav></app-nav>
      <div class="current-view">
        <router-view></router-view>
      </div>

      <footer>
        <div class="inner-footer">
          &copy; 2017 <a href="http://www.citiaps.cl" target="_blank">Citiaps</a> - Universidad de Santiago de Chile.
        </div>
      </footer>
    </main>

</div>
</template>

<script>
import AppNav from './AppNav.vue';
export default {
components: {
    AppNav
  }
}
</script>
