<template>




      <nav class="nav-top">
        <ul>
          <li>
            <a href="/">Convocatorias</a>
          </li>
          <li>
            <a href="#">Plantillas</a>
          </li>
          <li>
            <a href="#">Configuración</a>
          </li>
        </ul>
        <div class="logged-user">
          <img src="./img/ico-user.svg" />
          <div class="user-name">Usuario conectado</div>
        </div>
      </nav>





</template>

<script>
export default {

}
</script>
