<template>
<div>
  <h2>{{title}}</h2>
</div>
</template>
<script>
export default{
  data(){
    return{
      title:'Reclutados'
    }
  },
  mounted:function(){
    console.log('Reclutados.vue')
  }
}
</script>
